.main-info {
  background-image: url(../../img/hero.jpg);
  height: 600px;
  color: $light;
  margin-right: -15px;
  margin-left: -15px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  display: flex;
  justify-content: center;
  padding-bottom: 0;
}
.info-p {
  font-size: 16px;
  color: #f44949;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.info_h1 {
  font-size: 60px;
  color: #ffffff;
  line-height: 72px;
  font-weight: 600;
  margin-top: 24px;
  margin-bottom: 35px;
}

.main-info-text {
  max-width: 58.333333%;
}

.conteiner {
  max-width: 1040px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-info-img {
  max-width: 40%;
  margin-top: 18px;
  margin-left: 30px;
}
.text-conteiner {
  margin-right: 70px;
}
