.Footer {
  height: 180px;

  background-color: #171822;
  margin-top: 50px;

  .images {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 1200px;
    margin: 0 auto;
  }
  img {
    margin: 60px;
  }
}
